name: Build and test

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        xcode: [14.3.1, 15.0.1]
        include:
          - ios: 16.4
            xcode: 14.3.1
          - ios: 17.0.1
            xcode: 15.0.1
          - iphone: "iPhone 14"
          - ipad: "iPad (10th generation)"

    runs-on: macos-13

    steps:
      # Xcode select
      - run: sudo xcode-select -switch /Applications/Xcode_${{ matrix.xcode }}.app

      # Caching
      - name: SPM Cache
        uses: actions/cache@v2
        with:
          path: SPM
          key: ${{ runner.os }}-build-xcode${{ matrix.xcode }}-${{ hashFiles('project.yml') }}

      # Install dependencies
      - run: brew install swiftlint xcodegen || true
      - run: brew outdated swiftlint || brew upgrade swiftlint
      - run: brew outdated xcodegen || brew upgrade xcodegen

      # Checkout
      - uses: actions/checkout@v1
        with:
          submodules: recursive

      # Build and test
      - run: set -o pipefail
      - run: mkdir build
      - run: xcodegen
      - run: xcodebuild clean test -project Madog.xcodeproj -scheme Madog -clonedSourcePackagesDirPath SPM -resultBundlePath coverage.xcresult -destination "OS=${{ matrix.ios }},name=${{ matrix.iphone }}" -destination "OS=${{ matrix.ios }},name=${{ matrix.ipad }}" -sdk iphonesimulator CODE_SIGNING_REQUIRED=NO
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: test-session.xcresult
          path: ${{ github.workspace }}/coverage.xcresult
      - name: Codecov
        uses: codecov/codecov-action@v3.1.0
        with:
            xcode: true
            xcode_archive_path: ${{ github.workspace }}/coverage.xcresult
